<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>sun</key>
    <string>sun.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>diamond</key>
    <string>diamond.glif</string>
    <key>SF380000</key>
    <string>S_F_380000.glif</string>
    <key>arrowleft</key>
    <string>arrowleft.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>SF400000</key>
    <string>S_F_400000.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>upblock</key>
    <string>upblock.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>equivalence</key>
    <string>equivalence.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>filledrect</key>
    <string>filledrect.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>arrowright</key>
    <string>arrowright.glif</string>
    <key>SF200000</key>
    <string>S_F_200000.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>SF510000</key>
    <string>S_F_510000.glif</string>
    <key>block</key>
    <string>block.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>SF470000</key>
    <string>S_F_470000.glif</string>
    <key>arrowupdn</key>
    <string>arrowupdn.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>SF240000</key>
    <string>S_F_240000.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>SF250000</key>
    <string>S_F_250000.glif</string>
    <key>arrowdown</key>
    <string>arrowdown.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>SF370000</key>
    <string>S_F_370000.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>musicalnote</key>
    <string>musicalnote.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>SF270000</key>
    <string>S_F_270000.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>invcircle</key>
    <string>invcircle.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>SF520000</key>
    <string>S_F_520000.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>orthogonal</key>
    <string>orthogonal.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>SF210000</key>
    <string>S_F_210000.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>SF090000</key>
    <string>S_F_090000.glif</string>
    <key>SF020000</key>
    <string>S_F_020000.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>uni2219</key>
    <string>uni2219.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>SF490000</key>
    <string>S_F_490000.glif</string>
    <key>shade</key>
    <string>shade.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>Gamma</key>
    <string>G_amma.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>integralbt</key>
    <string>integralbt.glif</string>
    <key>SF390000</key>
    <string>S_F_390000.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>revlogicalnot</key>
    <string>revlogicalnot.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>male</key>
    <string>male.glif</string>
    <key>SF010000</key>
    <string>S_F_010000.glif</string>
    <key>lfblock</key>
    <string>lfblock.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>SF220000</key>
    <string>S_F_220000.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>arrowupdnbse</key>
    <string>arrowupdnbse.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>SF360000</key>
    <string>S_F_360000.glif</string>
    <key>SF190000</key>
    <string>S_F_190000.glif</string>
    <key>SF530000</key>
    <string>S_F_530000.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>SF040000</key>
    <string>S_F_040000.glif</string>
    <key>SF230000</key>
    <string>S_F_230000.glif</string>
    <key>Theta</key>
    <string>T_heta.glif</string>
    <key>SF430000</key>
    <string>S_F_430000.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>intersection</key>
    <string>intersection.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>triaglf</key>
    <string>triaglf.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>SF500000</key>
    <string>S_F_500000.glif</string>
    <key>triagdn</key>
    <string>triagdn.glif</string>
    <key>club</key>
    <string>club.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>dnblock</key>
    <string>dnblock.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>rtblock</key>
    <string>rtblock.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>triagup</key>
    <string>triagup.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>exclamdbl</key>
    <string>exclamdbl.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>SF100000</key>
    <string>S_F_100000.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>uni00B2</key>
    <string>uni00B_2.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>SF450000</key>
    <string>S_F_450000.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>arrowboth</key>
    <string>arrowboth.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>uni0000</key>
    <string>uni0000.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>SF110000</key>
    <string>S_F_110000.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>uni03A9</key>
    <string>uni03A_9.glif</string>
    <key>SF050000</key>
    <string>S_F_050000.glif</string>
    <key>filledbox</key>
    <string>filledbox.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>uni207F</key>
    <string>uni207F_.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>SF440000</key>
    <string>S_F_440000.glif</string>
    <key>musicalnotedbl</key>
    <string>musicalnotedbl.glif</string>
    <key>dkshade</key>
    <string>dkshade.glif</string>
    <key>SF070000</key>
    <string>S_F_070000.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>SF080000</key>
    <string>S_F_080000.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>SF420000</key>
    <string>S_F_420000.glif</string>
    <key>invsmileface</key>
    <string>invsmileface.glif</string>
    <key>SF460000</key>
    <string>S_F_460000.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>smileface</key>
    <string>smileface.glif</string>
    <key>spade</key>
    <string>spade.glif</string>
    <key>ltshade</key>
    <string>ltshade.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>SF480000</key>
    <string>S_F_480000.glif</string>
    <key>triagrt</key>
    <string>triagrt.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>SF280000</key>
    <string>S_F_280000.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>invbullet</key>
    <string>invbullet.glif</string>
    <key>SF060000</key>
    <string>S_F_060000.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>SF410000</key>
    <string>S_F_410000.glif</string>
    <key>integraltp</key>
    <string>integraltp.glif</string>
    <key>SF030000</key>
    <string>S_F_030000.glif</string>
    <key>heart</key>
    <string>heart.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>SF260000</key>
    <string>S_F_260000.glif</string>
    <key>female</key>
    <string>female.glif</string>
    <key>house</key>
    <string>house.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>tau</key>
    <string>tau.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>arrowup</key>
    <string>arrowup.glif</string>
    <key>SF540000</key>
    <string>S_F_540000.glif</string>
    <key>circle</key>
    <string>circle.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>L</key>
    <string>L_.glif</string>
  </dict>
</plist>
